/* .logo {
    margin: 41px 30px 0px 30px;
    font-size: 33px;
} */
a.navbar-brand {
    font-size: 25px;
    font-family: cursive;
    padding-bottom: 55px;
}
a.navbar-brand.brand {
    color: #8c9899;
    font-weight: bold;
}
a.btn.static {
    padding: 8px;
    font-size: 22px;
    /* color: red; */
}
span.wel {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    color: #fff;
    right: 80px;
    bottom: -29px;
    font-family: cursive;
    font-size: medium;
}

li.dropdown.drp {
    left: 150px;
    top: -22px;
}
li.dropdown.drp a.sem {
    padding: 10px 22px;
    color: #fff;
}
li.dropdown.drp a.sem:hover {
    background-color: #B7655E;
    color: #eeecee;
}
/*student.html*/
li.dropdown.drping {
    left: 285px;
    top: -24px;
}
li.dropdown.drping a.sem {
    padding: 10px 0px;
    color: #fff;
}
li.dropdown.drping a.sem:hover {
    background-color: #B7655E;
    color: #eeecee;
}
li.dropdown.upload {
    left: 165px;
    top: -22px;
}
li.dropdown.upload a.sem {
    padding: 10px 22px;
    color: #fff;
}
li.dropdown.upload a.sem:hover {
    background-color: #B7655E;
    color: #eeecee;
}
li.dropdown.dp {
    left: 275px;
    top: -44px;
}
li.dropdown.dp a.sem {
   padding: 10px 22px;
    color: #fff;
}
li.dropdown.dp a.sem:hover {
    background-color: #B7655E;
    color: #eeecee;
}
/*student.htmlend*/
/*assignment1*/
ul.news2 .ass {
    /* color: red; */
    font-size: 20px;
    font-family: serif;
    padding: 0;
    margin-left: 0;
}
.upload_btn {
    display: inline-block;
    /* float: left; */
    margin-left: 20px;
    float: left;
}
label.btn.btn-primary.left-file {
    background-color: #4a6371;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 0;
    margin-right: 0;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: 400;
    width: 180px;
    line-height: normal;
    text-transform: uppercase;
}
.btn_clearfix {
    display: inline-block;
    width: 100%;
    clear: both;
}
.uploads.colorpicker span {
    line-height: 46px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 12px;
    color: #404040;
    float: left;
}
.upload_btn.left-file .btn {
    padding: 10px 0;
    margin-right: 0px;
    background-color: #4a6371;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: 400;
    width: 180px;
    line-height: normal;
}
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    background-color: #4a6371;
    border-color: #4a6371;
    border-bottom: #4a6371;
    border-right: #4a6371;
    float: left;
    clear: both;
    margin-left: 35px;
    text-transform: uppercase;
}
.uploads.colorpicker {
    margin-top: 75px;
    /* padding: 31px; */
}
/*assignment1end*/

/*quizend*/
.start strong {
    display: block;
    font-size: 25px;
    font-family: serif;
}
.start span {
    display: block;
    font-size: 16px;
    margin: 8px 0;
    font-family: -webkit-body;
}

.start .btn{
padding: 10px 0;
    margin-right: 0px;
    background-color: #4a6371;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0px;
    font-size: 16px;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: 400;
    width: 180px;
    line-height: normal;
    text-transform: uppercase;
}
/*quizend*/

/*logincourses*/
h2.cou {
    /* top: 185px; */
    /* position: relative; */
    margin-top: auto;
    padding-top: 75px;
    text-align: center;
    font-size: 44px;
    color: #2c3e50;
    font-family: -webkit-pictograph;
    margin-bottom: 35px;
}
.parallax{
    background-image: url(../img/cal.jpg);
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
    color: #2c3e50;
    font-family: -webkit-body;
    text-transform: initial;
    text-align: justify;
}
a.prog img {
    opacity: 0.5;
}
a.prog img:hover {
    opacity: 100;
}
a.btn.btn-default.submit {
    padding: 10px 0;
    margin-right: 200px;
    background-color: #4a6371;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 95px;
    border-radius: 5px;
    /* float: left; */
    line-height: normal;
}
/*logincoursesend*/

/*teacher dashboard*/
li.dropdown.up {
    left: 48px;
    top: -21px;
}
li.dropdown.up a.sem {
    padding: 10px 22px;
    color: #fff;
}
li.dropdown.up a.sem:hover {
    background-color: #B7655E;
    color: #eeecee;
}
li.dropdown.drp {
    left: 165px;
    top: -44px;
}

/*teacher dashboard end*/