
@model IEnumerable < OnlineCourse.Models.MS_Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<section class="course" id="course">
    <div class="container parallax" style="margin-top:50px;">

        <div class="row">
            <h2 class="cou" style="text-align:center;text-decoration:underline;">Courses</h2>
            <div class="col-md-3 col-sm-2">
                <a class="prog" href="#"><img src="img/C++.jpg" style="width:250px;height:150px" class="img-responsive" alt=""></a>
                <h3 style="text-align:center;text-decoration:underline;color:#2c3e50;font-family: -webkit-body;">C++</h3>
                <blockquote>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </blockquote>
            </div>
            <div class="col-md-3 col-sm-2">
                <a class="prog" href="#"><img src="img/it.jpg" style="width:250px;height:150px" class="img-responsive" alt=""></a>
                <h3 style="text-align:center;text-decoration:underline;">Information&technology</h3>
                <blockquote>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </blockquote>
            </div>
            <div class="col-md-3 col-sm-2">
                <a class="prog" href="#"><img src="img/statistics.jpg" style="width:250px;height:150px" class="img-responsive" alt=""></a>
                <h3 style="text-align:center;text-decoration:underline;">Statistics & probability</h3>
                <blockquote>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </blockquote>
            </div>
            <div class="col-md-3 col-sm-2">
                <a class="prog" href="#"><img src="img/calculus.jpg" style="width:250px;height:150px" class="img-responsive" alt=""></a>
                <h3 style="text-align:center;text-decoration:underline;">Calculus</h3>
                <blockquote>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </blockquote>
            </div>
        </div>
    </div>

</section>


