@model IEnumerable<OnlineCourse.Models.NEW_News>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<section class="news" id="news">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">

            </div>
            <div class="col-md-6 col-sm-12">
                <h2 class="news1">News</h2>

                <ul class="news2" style="list-style-type:arrow">
                    @foreach (var item in Model)
                    {

                        @Html.ActionLink(item.NewsTitle, "GetNewsDescription", "NEW_News", new { id = item.NewsID }, null)


                    }
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">

        </div>
    </div>



</section>