
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <li class="dropdown first">
            <span class="wel">welcome</span><a href="#" class="btn btn-default static dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                @Html.ActionLink("Welcome " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </a>

        </li>
        @*<ul class="nav navbar-nav navbar-right">
            <li>*@
                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            @*</li>*@
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        @*</ul>*@
    }
}

else




{
    <ul class="nav navbar-nav navbar-right"> 
        <li>
            <a href="#">
                @if (Session["User"] != null)
                {
                    @Html.Encode(Session["User"].ToString())
                }

            </a>
        </li>
        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
    </ul>
}
