<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Online Course</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap.theme.min.css" rel="stylesheet">
    <link href="~/css/bootstrap.theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/owl.transitions.css" />
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/css/animate.css" />
    <!--<link href="css/main.css" rel="stylesheet">-->
    <!--<link href="css/custom.css" rel="stylesheet">-->
    <link rel="stylesheet" href="~/css/lightbox.css">
    <link rel="stylesheet" href="~/fonts/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/hover.css">
    <link rel="stylesheet" type="text/css" href="~/css/student.css">
    <link rel="stylesheet" type="text/css" href="~/css/teacher.css">

    <!--<link rel="stylesheet" type="text/css" href="css/effects.min.css">
     <link rel="stylesheet" href="fonts/css/effectspre.css">-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


    <!-- Modalforsignin -->
    <!--<div class="modal fade" id="myModalog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="padding:30px 50px;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">LoginForm</h4>
            <p class="para">Not Yet joined?<a class="reg" href="#myModalreg" data-toggle="modal" data-dismiss="modal"> Registry</a></p>
          </div>
          <div class="modal-body" style="padding:30px 50px;">
            <form>
      <div class="form-group">

        <label for="username"><span  class="glyphicon glyphicon-user" aria-hidden="true"></span></label>
        <input type="text" class="form-control" id="name" placeholder="Enter your email">
      </div>
      <div class="form-group">
        <label for="pwd"><span  class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter your password">
      </div>-->
    <!--<div class="form-group">
        <label for="option"> Sign in as-</label>
      <select class="form-control" placeholder="Post">

      <option>Student</option>
      <option>Teacher</option>

    </select>
    </div>-->
    <!--  <option data-tokens="std">student</option>
      <option data-tokens="tea">Teacher</option>

    </select>
    <div class="checkbox">
                  <label><input type="checkbox" value="" checked>Remember me</label>
                </div>

                  <div>
                   <p class="pull-right"><a  class="for" href="">Forget your password?</a></p>
                   </div>-->
    <!--<div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>-->
    <!--</form>

          </div>
          <div class="modal-footer">

            <button type="submit" class="btn  btn-block ">LogIn</button>


          </div>
        </div>
      </div>
    </div>-->
    <!-- mobalendforsignin -->
    <!-- mobalstartforregistry -->
    <!--<div class="modal fade" id="myModalreg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="padding:30px 50px;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">RegistryForm</h4>
            <p class="para">Already Joined?<a class="reg" href="#myModalog" data-toggle="modal" data-dismiss="modal">LogIn</a></p>
          </div>
          <div class="modal-body" style="padding:30px 50px;">
            <form>
      <div class="form-group">

        <label for="username">FirstName:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your firstname">
      </div>
        <div class="form-group">

        <label for="username">MiddleName:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your middlename">
      </div>
        <div class="form-group">

        <label for="username">LastName:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your lastname">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter your Password">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter ypur email">
      </div>
      <div class="form-group">
        <label for="Faculty">Faculty:</label>
            <select class="form-control" id="sel1">
            <option>Bsccsit</option>
            <option>BBA</option>
            <option>Computer Science</option>
            </select>
      </div>
          <div class="form-group">
          <label for="Batch">Batch:</label>
          <select class="form-control" id="sel1">
            <option>1st</option>
            <option>2nd</option>
            <option>3rd</option>
            <option>4th</option>
            <option>5th</option>
            <option>6th</option>

          </select>
        </div>
         <div class="form-group">
          <label for="Semester">Semester:</label>
          <select class="form-control" id="sel1">
            <option>1st</option>
            <option>2nd</option>
            <option>3rd</option>
            <option>4th</option>
            <option>5th</option>
            <option>6th</option>
            <option>7th</option>
            <option>8th</option>

          </select>
        </div>-->
    <!--<div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>-->
    <!--</form>

          </div>
          <div class="modal-footer">

            <button type="button" class="btn btn-primary btn-block">Register</button>
          </div>
        </div>
      </div>
    </div>-->
    <!-- mobalendforregistry -->
    <!--Fixed Top Navbar-->
    <header>

        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="logo pull-left animated wow fadeInLeft img-responsive">
                        <!--<img src="img/logo.png" style="width:150px; height:80px;" alt="">-->
                        <a class="navbar-brand brand" href="#">Student Dashboard</a>
                    </div>
                </div>
                <!--<div>
                  <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Courses</a></li>
                   <li><a href="#">Programs</a></li>
                   <li><a href="#">About</a></li>
                 </ul>
                 </div>-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <nav class="pull-left">
                        <ul class="list-unstyled">
                            <li class=" " data-wow-delay="0s"><a href="#">Courses</a></li>
                           
                            <li class=" " data-wow-delay="0s"> @Html.ActionLink("News","LoadNews","StudentDashboard")</li>
                            <!--<li class="" data-wow-delay=".1s"><a href="#introd">Uploads</a></li>-->
                            <!--<li class="" data-wow-delay=".1s"><a href="#introd">Assignment</a></li>-->
                            <div class="dropdown">
                                <li class="dropdown upload">
                                    <a class="" data-wow-delay=".1s" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quiz</a>
                                    <ul class="dropdown-menu semester">
                                        @*<li><a class="sem" href="file:///C:/Users/HOME/Desktop/onlineCourse/quiz.html">Course1</a>
                                        <li>
                                        <li role="separator" class="divider"></li>
                                        <li><a class="sem" href="file:///C:/Users/HOME/Desktop/onlineCourse/quiz1.html">Course2</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a class="sem" href="#">Course3</a></li>*@
                                        <li>
                                            @Html.Action("LoadCoursesInQuiz","StudentDashboard")
                                        </li>

                                    </ul>
                                </li>



                            </div>
                            <div class="dropdown">
                                <li class="dropdown dp">
                                    <a class="" data-wow-delay=".1s" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Assignment</a>
                                    <ul class="dropdown-menu semester">
                                        <li>
                                            @Html.Action("LoadCoursesInAssignment", "StudentDashboard")
                                        </li>

                                    </ul>
                                </li>



                            </div>
                        </ul>
                    </nav>


                    <ul class="nav navbar-nav">
                        <li class="divider" role="separator"></li>
                        <li><a href="#" id="white"><span class="sr-only">(current)</span></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        <!--<li><form class="navbar-form navbar-left" role="search">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                          </div>
                          <button type="submit" class="btn btn-success grow-shadow"><i class="glyphicon glyphicon-search"></i></button>
                        </form></li>-->
                        <li class="dropdown first">
                            <span class="wel">welcome</span><a href="#" class="btn btn-default static dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SB</a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Signed in as</a></li>
                                <li role="separator" class="divider"></li>
                                <!--<li><a href="#"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Your courses</a></li>
                                <li role="separator" class="divider"></li>-->
                                <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Your Profile</a></li>
                                <li role="separator" class="divider">
                                    <!--<li><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Help</a></li>-->
                                <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href=""><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->


            </div>

        </div>

    </header>
    <section class="course" id="course">
        
       

    </section>

    @RenderBody()

    <footer class="">

        <h3>Connect With Online Courses</h3>
        <a class="font" href="#">
            <i class="fa fa-facebook" aria-hidden="true"></i><i class="fa fa-twitter" aria-hidden="true"></i><i class="fa fa-google-plus" aria-hidden="true"></i>
        </a>
        <p class="footer">Learning Management System’s mission is to pioneer the best social learning experiences for everyone, anywhere.</p>

        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="~/js/ajaxchimp.js"></script>
    <script type="text/javascript" src="~/js/scrollTo.js"></script>
    <!--<script type="text/javascript" src="js/gruntfile.js"></script>-->
    <script>
    $(function(){
$('#myModalog').modal({
   show:true,
   backdrop:'static'
});
 //now on button click
  $('#myModalog').modal('show');
});
    </script>


    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>