@*@model OnlineCourse.Models.SC_User
@model OnlineCourse.Models.MS_Batch
@model OnlineCourse.Models.MS_Faculty*@
@model OnlineCourse.Models.STU_Student

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Online Course</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.theme.min.css" rel="stylesheet">
    <link href="css/bootstrap.theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/owl.transitions.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="css/animate.css" />
    <!--<link href="css/main.css" rel="stylesheet">-->
    <link href="~/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/lightbox.css">
    <link rel="stylesheet" href="fonts/css/font-awesome.css">
    <link rel="stylesheet" href="css/hover.css">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


    <!-- Modalforsignin -->
    <div class="modal fade" id="myModalog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">SigninForm</h4>
                    <p class="para">Not Yet joined?<a class="reg" href=""> Registry</a></p>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form>
                        <div class="form-group">

                            <label for="username"><span class="glyphicon glyphicon-user" aria-hidden="true">Username:</span></label>
                            <input type="text" class="form-control" id="name" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="pwd"><span class="glyphicon glyphicon-eye-open" aria-hidden="true">Password:</span></label>
                            <input type="password" class="form-control" id="pwd" placeholder="Username">
                        </div>

                        <!--<div class="checkbox">
                          <label><input type="checkbox"> Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>-->
                    </form>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary btn-block">Sign in</button>
                </div>
            </div>
        </div>
    </div>
    <!-- mobalendforsignin -->
    <!-- mobalstartforregistry -->

    <!--Partial-->

    @*<div class="modal fade" id="myModalreg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        @using (Html.BeginForm("Register", "Register", FormMethod.Post))
        {
          @Html.AntiForgeryToken()
          @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="padding:30px 50px;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">RegistryForm</h4>
                        <p class="para">Already Joined?<a class="reg" href="#">LogIn</a></p>
                    </div>
                    <div class="modal-body" style="padding:30px 50px;">
                        <form>
                            <div class="form-group">

                                <label for="username">FirstName:</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter your firstname">
                            </div>
                            <div class="form-group">

                                <label for="username">MiddleName:</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter your middlename">
                            </div>
                            <div class="form-group">

                                <label for="username">LastName:</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter your lastname">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" class="form-control" id="pwd" placeholder="Enter your Password">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter ypur email">
                            </div>
                            <div class="form-group">
                                <label for="Faculty">Faculty:</label>
                                <select class="form-control" id="sel1">
                                    <option>Bsc.Csit</option>
                                    <option>BBA</option>
                                    <option>Engineering</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Batch">Batch:</label>
                                <select class="form-control" id="sel1">
                                    <option>2012</option>
                                    <option>2013</option>
                                    <option>2014</option>
                                    <option>2015</option>
                                    <option>2016</option>
                                    <option>2017</option>

                                   
                                </select>
                            </div>
                           
                            <div class="form-group">
                                <label for="Semester">Semester:</label>
                                <select class="form-control" id="sel1">
                                   <option>First</option>
                                    <option>Second</option>
                                    <option>Third</option>
                                    <option>Fourth</option>
                                    <option>Fifth</option>
                                    <option>Sixth</option>
                                    <option>Seventh</option>
                                    <option>Eigth</option>
                                    
                                </select>
                            </div>
                            <div class="checkbox">
                              <label><input type="checkbox"> Remember me</label>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>
            </div>
        }
    </div>*@

    <!-- mobalendforregistry -->
    <!--Fixed Top Navbar-->
    <header>

        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="logo pull-left animated wow fadeInLeft">
                        <img src="~/img/logo.gif" alt="">
                    </div>
                </div>
                <!--<div>
                <ul class="nav navbar-nav">
                <li class="active"><a href="#">Courses</a></li>
                 <li><a href="#">Programs</a></li>
                 <li><a href="#">About</a></li>
                 </ul>
                 </div>-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <nav class="pull-left">
                        <ul class="list-unstyled">
                            <li class="animated wow fadeInLeft " data-wow-delay="0s"><a href="#first">Courses</a></li>
                            <li class="animated wow fadeInLeft " data-wow-delay=".1s"><a href="#introd">Programs</a></li>
                            <li class="animated wow fadeInLeft " data-wow-delay=".1s"><a href="#project">About</a></li>
                        </ul>
                    </nav>

                    <div class="pull-right">
                        <button type="button" class=" btn btn-default signbtn signin " data-toggle="modal" data-target="#myModalog">Sign in</button>

                        <button type="button" class=" btn btn-default regbtn signin " data-toggle="modal" data-target="#myModalreg">Register</button>

                    </div>

                    <span class="menuicon">menu</span>
                </div>

            </div>
        </div>
    </header>
    <!-- sectionfirst -->
    <section class="first" id="first">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">


                </div>
                <div class="col-md-8 col-sm-12">
                    <h1 class="text">
                        What would you
                        <br>
                        like to learn?
                    </h1>

                </div>

            </div>

        </div>
       
            @RenderBody()
           


    </section>
    <!-- sectionfirstEnd -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="js/ajaxchimp.js"></script>
    <script type="text/javascript" src="js/scrollTo.js"></script>
    <script>
    $(function(){
$('#myModalog').modal({
   show:true,
   backdrop:'static'
});
 //now on button click
  $('#myModalog').modal('show');
});
    </script>


    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    <script src="~/js/jquery.main.js"></script>
    <script src="js/bootstrap.min.js"></script>
  
</body>
</html>

