@model OnlineCourse.Models.QUIZ_Quiz

@{
    ViewBag.Title = "MyExam";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h2>MyExam</h2>
<div class="col-md-10 col-sm-12">
    <div class="container-fluide">
        <div class="jumbotron question">
            <p class="qust">
                1. 

            </p>
            <form>
                <div class="radio">
                    <label>
                        <input type="radio" name="quiz" id="3" value="3">
                        Cascading Style Sheets
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="quiz" id="3" value="3">
                        Cascading Style Sheets
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="quiz" id="3" value="3">
                        Cascading Style Sheets
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="quiz" id="3" value="3">
                        Cascading Style Sheets
                    </label>
                </div>
                <input type="submit" class="w3-btn w3-orange w3-large w3-text-white" value="Next">
            </form>

        </div>
        <footer>

            <h3>Connect With Online Courses</h3>
            <a class="font" href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i><i class="fa fa-twitter" aria-hidden="true"></i><i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
            <p class="footer">Learning Management System’s mission is to pioneer the best social learning experiences for everyone, anywhere.</p>

    </div>
    </footer>
</div>

