
header{
    position: relative;

   
    display: block;
    width: 100%;
    /* height: 130px; */
    top: 0px;
    box-shadow: 1px 1px 1px 1px gray;


}
.navbar {
    background-color:#B7655E;
    border-color: #B7655E;
    margin: 0;
}
.logo {
    margin: 20px 30px 0px 30px;
}
header nav {
    margin-top: 45px;
    display: table-cell;
    padding-left: 135px;
}
header nav li {
    float: left;
    margin-left: 67px;
    position: relative;
    left: -69px;
}
nav li a{
     color: #fff;
}
header nav li {
    font-size: 16px;
    text-decoration: none;
    text-shadow: 1px 1px #bdc3c7;
    transition: all .2s linear;
    /* text-align: center; */
}
header nav li a:hover{
    text-decoration: none;
    color: #ffffff;
}
span.gly {
    top: 2px;
    left: -30px;
}
i.glyphicon.glyphicon-cog {
    color: #fff;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    color: white;
    margin-left: 8px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

ul.nav.navbar-nav.navbar-right {
    /* padding-left: 28px; */
    position: relative;
    left: -52px;
}
/*quizdropdown*/
li.dropdown.second {
    left: 345px;
    bottom: 23px;
    text-decoration: none;
}
ul.dropdown-menu.semester {
    background-color: #B7655E;
    color: #ffffff;
    left: -53px;
    border-color: #B7655E;
    border-radius: 0;
    text-align: center;
    width: 100%;
    padding-left: 25px;
    padding-top: 10px;
    margin: 35px;
    padding-bottom: 20px;
}


/*quizdropdownend*/

/*footer*/
a.font {
    font-size: 25px;
    /* margin: 33px 19px 41px 10px; */
    /* padding-left: 660px; */
    margin: auto 0;
    padding-left: 598px;
    /* margin-left: -4px; */
    color: #fff;
}
i.fa.fa-twitter {
    margin: 5px 40px 0px 40px;
}
footer {
    background-color: #4a4d56;
    height: auto;
    width: 100%;
    margin-top: 131px;
}
footer h3 {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    margin-top: -30px;
    padding-top: 40px;
    text-align: center;
    line-height: 1.8;
    font-family: serif;
}
footer p {
    text-align: center;
    color: #ffffff;
    font-size: 17px;
    line-height: 2.8;
    font-family: initial;
    /* font-weight: bold; */
}
/*footerend*/
.jumbotron.question {
    /* padding: 213px; */
    margin-top: 114px;
    /* padding-top: 293px; */
}
nav#mySidenav {
    
    left: 0;
    width: 298px;
    margin-top: 99px;
}
.container-fluide {
    width: 1050px;
}
a.sidebar.w3-panel {
    background-color: #B7655E;
    color: #ffffff;
    padding: 25px;
    font-size: 17px;
}
a.sidebar.w3-panel.active {
    background-color: #eeeeee;
    color: #B7655E;
}
.container-fluide footer {
    margin-top: 62px;
    height: 193px;
}
.container-fluide a.font {
    padding-left: 450px;
}